#root {
  min-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #c1beb4
}

.error {
  color: red;
}

.buttons {
  margin: 5px;
}

.forms {
  background-color: #f6f2f2;
}
