#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #c1beb4
}

.error {
  color: red;
}

.buttons {
  margin: 5px;
}

.forms {
  background-color: #f6f2f2;
}
